:root{
  --display-text: 'Barlow', sans-serif;
  --reading-text: 'Open Sans', sans-serif;

  background: linear-gradient(to right, rgba(255,255,255,.4),  rgba(255,255,255,.1)), url('../img/background-3.jpg');
  background-size: cover;
  width: 100vw;
  height: 100%;
  overflow: auto;
}

body{
  font-family: var(--reading-text);
}

header {
  position: relative;
}
h1 {
  font-size: 3.4rem;
  text-align: center;
  font-family: var(--display-text);
  font-weight: 500;
  position: absolute;
  top:46vh;
  color: #222;
  margin-left: 20px;
  letter-spacing: .6rem;
  text-shadow: 0 0 2px white;
}
